<div class="card with-scroll" [ngClass]="{'masked': masked}">
  <div class="card-title space-top-10">
    <h2>
      <i [hidden]="!onlyOneUser" class="i-rbac_role"></i>
      <label>
        {{hasUsers ? title : ('resourceGroups.textNoResourceGroupsSelected' | translate)}}
      </label>
      <i [hidden]="!hasMore" tabindex="0" class="right action ion-more" container="body"
         #popoverElement #popover="bs-popover" [popover]="popMenu" outsideClick="true" placement="left"></i>
    </h2>
  </div>
  <div class="card-body">
    <div [hidden]="onlyOneUser" class="form-group row">
      <table class="table table-hover" role="presentation">
        <tbody>
        <ng-template let-item ngFor [ngForOf]="models">
          <tr class="no-top-border">
            <td class="normal-col bold align-left">{{item.name}}</td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>
    <div [hidden]="!hasUsers" class="form-group row">
      <resource-group-list
        [hideDelete]="true"
        [enableUpdateSubcriptions]="false"
        [hideBorder]="true"></resource-group-list>
    </div>
    <div [hidden]="hasUsers" class="form-group row">
      <i class="i-rbac_role"></i>
      <label class="control-label" translate>
        {{'resourceGroups.textSelectUserToViewResources'}}
      </label>
    </div>
  </div>
</div>
<ng-template #popMenu>
  <div (click)="onModifyResourcesClick()" [hidden]="!canModifyResources()"><label class="action" translate>{{'users.textModifyResources'}}</label>
  </div>
  <div (click)="onDeleteUserClick()" [hidden]="!canDeleteUser()"><label class="action"
                                                                        translate>{{'resourceGroups.textDeleteResourceGroup'}}</label>
  </div>
</ng-template>
