<ba-card baCardClass="dark-card" title="{{'repositoryserver.textRepositoryServers' | translate}}" [hidden]="addCloud">
  <div class="align-right margin-bottom-10">
    <button class="sdl inline with-icon" [ngClass]="{'disabled': !canCreate()}" [disabled]="!canCreate()" (click)="onAddCloudClick()" translate>
      <i class="bidi-add-new-white_16"></i>{{'repositoryserver.textAddRepositoryServer'}}
    </button>
  </div>
  <repository-table (editCloudEvent)="onEditCloudClick($event)"></repository-table>
</ba-card>
<repository-server-registration [hideRegistration]="!addCloud" (onSuccessfulRegister)="onSuccessfulRegister()"></repository-server-registration>
<confirm-toolbar-component
  [confirmText]="editMode ? ('common.updateText' | translate) : ('common.textRegister' | translate)"
  (confirmEvent)="onRegisterCloudProvider()"
  [disableConfirmButton]="!canRegister()"
  (cancelEvent)="onCancelClick()"
  [splitButtons]="true"
  [hideConfirmButton]="!addCloud"
  [hideCancelButton]="!addCloud"
></confirm-toolbar-component>
