.timepicker-wrapper {
  position: relative;
  width: 78px;

  input.invalid {
    border: 1px solid #e85656 !important;
  }

  .form-control {
    text-align: center;
  }
}

.dropdown-menu {
  max-height: 140px !important;
  background-color: #fff;
  margin: 0;
  width: 86px;
  min-width: 0;
}

.dropdown-item-sdl {
  font-size: 14px;
}
