.large-text {
  font-size: 24px;
}

.fixed {
  table-layout:fixed;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.normal-col {
  width: calc(calc(100% - 40px) / 6);
  word-break: break-word;
  white-space: normal;
}

.operation-col {
  max-width: 120px;
}

.capitalize {
  text-transform: capitalize;
}
