<table class="selectable fixed" tabindex="0" #highlightableContainer>
  <thead>
  <tr>
    <th class="normal-col" translate>{{'vadpProxyMonitor.table.serverName'}}</th>
    <th translate>{{'vadpProxyMonitor.table.version'}}</th>
    <th translate>{{'vadpProxyMonitor.table.status'}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of vadpData; trackBy: trackByFn()" [ngClass]="{'active-row': isSelected(item, true)}"
      (itemSelected)="toggleSelect($event.data, vadpData, $event.event)"
      [item]="item" highlightable>
    <td class="normal-col" (click)="toggleSelect(item, vadpData, $event, true)">{{item.hostName}}</td>
    <td (click)="toggleSelect(item, vadpData, $event, true)">{{ item.version }}</td>
    <td class="action-icon-format" style="text-transform: capitalize"
        (click)="toggleSelect(item, vadpData, $event, true)">
      <i *ngIf="item.hasLink('pushUpdate')" title="{{'vadpProxyMonitor.textUpgradeAvailable' | translate}}"
        class="bidi-deploy_16"></i>
      {{ item.stateDisplayName }}</td>
  </tr>
  </tbody>
</table>
<br>
<paging-toolbar [total]="(vadpData || []).length" (refresh)="onRefresh()"></paging-toolbar>
