$gray70: #464646;
$gray50: #777677;
$gray20: #C0BFC0;
$gray10: #DCDCDC;
$cool-gray70: #424747;
$cool-gray80: #343334;
$cool-gray10: #D0DADA;
$nc3: #777677;
$neutral-color-3: #f6f6f6;

$cerulean1: #deedf7;
$cerulean70: #17486C;
$cerulean50: #047CC0;
$cerulean60: #175d8d;
$cerulean30: #56ACF2;
$aqua40: #12A3B4;
$aqia20: #71CDDD;
$violet50: #9753E1;

$red1: #F7E6E6;
$red50: #e62325;
$orange1: #F5E8DE;
$orange30: #fe8500;
$peach40: #fe6100;
$lime30: #81b532;

$ac1-light: $cerulean50;
$ac1-dark: $cerulean30;
$ac2-light: $aqua40;
$ac2-dark: $aqia20;
$ac3-light: $violet50;
$ac3-dark: $violet50;

$ac-light: $ac1-light;
$ac-dark: $ac1-dark;

$base-font-color-light: $gray70;
$base-font-color-dark: $gray20;
