@import "../../theme/sass/conf/conf";

@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}

.hidden {
  display: none !important;
}

.space {
  height: 45px;
}

.modal-buttons .btn {
  margin-right: 20px;
}

.restore-options {
  padding-top: 10px;
}

.align-right {
  text-align: right;
}

.align-title-bar {
  margin-top: -50px;
}

.space-bottom-15 {
  margin-bottom: 15px;
}

.space-top-10 {
  margin-top: 10px;
}

span.link {
  color: #285eb8;
  cursor: pointer;
  text-decoration: underline;
}

span.link-first {
  cursor: pointer;
}

span.link-first:hover {
  text-decoration: underline;
  color: #285eb8;

}

.side-by-side-wrapper {
  display: flex;
  flex-flow: row;
  height: calc(100vh - 350px);
}

.side-by-side-left {
  flex: 2;
  margin-right: 0.75rem;
  overflow: auto;
}

.side-by-side-right {
  flex: 3;
  margin-left: 0.75rem;
  border: solid;
  border-width: 1px;
  overflow: auto;
}

.card {
  border: 0;
}

.side-by-side-wrapper-groups {
  display: flex;
  flex-flow: row;
  height: calc(100vh - 450px);
}

.side-by-side-left-groups {
  flex: 2;
  margin-right: 0.75rem;
  overflow: auto;
}

.side-by-side-right-groups {
  flex: 3;
  margin-left: 0.75rem;
  border: none;
  border-width: 0;
  overflow: auto;
}

.users-left {
  height: calc(100vh - 360px);
  min-height: 325px;
  overflow: auto;
}

.users-right {
  height: calc(100vh - 360px);
  min-height: 325px;
  overflow: auto;
  border: 1px solid grey;
}
