.sub-group{
  margin-left: 20px;
}

.label-width {
  width: 200px;
}

.sub-group-space {
  margin-top: 15px;
}

.dropdown-width {
  width: 50%;
}

.numerical {
  width: 80px;
}


i.yellow-text {
  color: #ffdc00 !important;
}

i.large-text {
  font-size: 24px !important;
}

label.warning-info {
  padding-left: 30px;
}

