<svg *ngIf="model.icon === 'folder'" ibmIconFolder16 class="hypervisor-icon" [ngClass]="class"></svg>
<svg *ngIf="model.icon === 'screen'" ibmIconScreen16 class="hypervisor-icon" [ngClass]="class"></svg>
<svg *ngIf="model.icon === 'data--base'" ibmIconDataBase16 class="hypervisor-icon" [ngClass]="class"></svg>
<svg *ngIf="model.icon === 'building'" ibmIconBuilding16 class="hypervisor-icon" [ngClass]="class"></svg>
<svg *ngIf="model.icon === 'apps'" ibmIconApps16 class="hypervisor-icon" [ngClass]="class"></svg>
<svg *ngIf="model.icon === 'data-vis--2'" ibmIconDataVis_216 class="hypervisor-icon" [ngClass]="class"></svg>
<svg *ngIf="model.icon === 'tag--group'" ibmIconTagGroup16 class="hypervisor-icon" [ngClass]="class"></svg>
<svg *ngIf="model.icon === 'tag'" ibmIconTag16 class="hypervisor-icon" [ngClass]="class"></svg>
