<div class="row ">
<div class="col-lg-4">
  <ba-card tabindex="0" [bodyTitle]="('whatsNew.version.10-1-6.tile1.title' | translate)"
        [bodyTitleIcon]="'bidi-manageProtection_24'"
        [imageSrc]="'assets/img/whatsnew/version-10-1-6/graphic1.png'"
        [imageAltText]="'whatsNew.version.10-1-6.tile1.title' | translate"
        baCardClass="midnight-card"
        [cardLinkIcon]="'bidi-link-blue'"
        (onClick)="goLearnMore('card1')"
        (onCardClick)="goLearnMore('card1')"
        (keyup.enter)="goLearnMore('card1')"
        [buttonLabel]="'whatsNew.textLearnMore' | translate">
  <div class="card-title">
    {{('whatsNew.version.10-1-6.tile1.body' | translate)}}
    <br>
  </div>
  </ba-card>
</div>
<div class="col-lg-4">
  <ba-card tabindex="0" [bodyTitle]="'whatsNew.version.10-1-6.tile2.title' | translate"
        [bodyTitleIcon]="'bidi-manageProtection_24'"
        [imageSrc]="'assets/img/whatsnew/version-10-1-6/graphic2.png'"
        baCardClass="midnight-card"
        [imageAltText]="'whatsNew.version.10-1-6.tile2.title' | translate"
        [cardLinkIcon]="'bidi-link-blue'"
        (onClick)="goEnhancements()"
        (onCardClick)="goEnhancements()"
        (keyup.enter)="goEnhancements()"
        [buttonLabel]="'whatsNew.textLearnMore' | translate">
  <div class="card-title">
    {{'whatsNew.version.10-1-6.tile2.body' | translate}}
  </div>
  </ba-card>
</div>
<div class="col-lg-4">
  <ba-card tabindex="0" [bodyTitle]="'whatsNew.version.10-1-6.tile3.title' | translate"
        [bodyTitleIcon]="'bidi-manageProtection_24'"
        [imageSrc]="'assets/img/whatsnew/version-10-1-6/graphic3.png'"
        baCardClass="midnight-card"
        [imageAltText]="'whatsNew.version.10-1-6.tile3.title' | translate"
        (onClick)="goLearnMore('card3')"
        (onCardClick)="goLearnMore('card3')"
        (keyup.enter)="goLearnMore('card3')"
        [cardLinkIcon]="'bidi-link-blue'"
        [buttonLabel]="'whatsNew.textLearnMore' | translate">
  <div class="card-title">
    {{'whatsNew.version.10-1-6.tile3.body' | translate}}
  </div>
  </ba-card>
</div>
</div>
<div class="row ">
<div class="col-lg-4">
  <ba-card tabindex="0" [bodyTitle]="'whatsNew.version.10-1-6.tile7.title' | translate"
        [bodyTitleIcon]="'bidi-manageProtection_24'"
        [imageSrc]="'assets/img/whatsnew/version-10-1-6/graphic7.png'"
        baCardClass="midnight-card"
        [imageAltText]="'whatsNew.version.10-1-6.tile7.title' | translate"
        (onClick)="goLearnMore('card7')"
        (onCardClick)="goLearnMore('card7')"
        (keyup.enter)="goLearnMore('card7')"
        [cardLinkIcon]="'bidi-link-blue'"
        [buttonLabel]="'whatsNew.textLearnMore' | translate">
  <div class="card-title">
    {{'whatsNew.version.10-1-6.tile7.body' | translate}}
  </div>
  </ba-card>
</div>
<div class="col-lg-4">
  <ba-card tabindex="0" [bodyTitle]="'whatsNew.version.10-1-6.tile4.title' | translate"
        [buttonLabel]="'whatsNew.textSeeAll' | translate"
        [cardLinkIcon]="'bidi-link-blue'"
        (onClick)="goEnhancements()"
        (keyup.enter)="goEnhancements()"
        baCardClass="transparent-card" >
  <div class="card-title">
      <ul>
      <li>{{'whatsNew.version.10-1-6.tile4.item1' | translate}}</li>
      <li>{{'whatsNew.version.10-1-6.tile4.item2' | translate}}</li>
      <li>{{'whatsNew.version.10-1-6.tile4.item3' | translate}}</li>
      <li>{{'whatsNew.version.10-1-6.tile4.item4' | translate}}</li>
      </ul>
  </div>
  </ba-card>
</div>
<div class="col-lg-4">
  <ba-card tabindex="0" [bodyTitle]="'whatsNew.version.10-1-6.tile6.title' | translate"
        [buttonLabel]="'whatsNew.textSeeAll' | translate"
        [cardLinkIcon]="'bidi-link-blue'"
        (onClick)="goFeatureDocs()"
        (keyup.enter)="goFeatureDocs()"
        baCardClass="transparent-card" >
  <div class="card-title">
    {{'whatsNew.version.10-1-6.tile6.body' | translate}}
  </div>
  </ba-card>
</div>
</div>
<div class="row ">
<div class="col-lg-4">
  <ba-card tabindex="0" [bodyTitle]="'whatsNew.version.10-1-6.tile5.title' | translate"
        [buttonLabel]="'whatsNew.textSeeAll' | translate"
        [cardLinkIcon]="'bidi-link-blue'"
        (onClick)="goBugFixes()"
        (keyup.enter)="goBugFixes()"
        baCardClass="transparent-card" >
  <div class="card-title">
    {{'whatsNew.version.10-1-6.tile5.body' | translate}}
  </div>
  </ba-card>
</div>
</div>
