li {
  margin-top: 5px;
  margin-bottom: 2px; 
}


.card-title {
  font-size: 14px;
  color: #C0BFC0;
}

ul {
  padding-left: 0px;
}

.maybe-long-text {
  overflow-y: auto;
  max-height: 48px;
}

.maybe-long-text-hi {
  overflow-y: auto;
  max-height: 80px;
}
