<svg *ngIf="model.icon === 'folder'" ibmIconFolder16 class="application-icon" [ngClass]="class"></svg>
<svg *ngIf="model.icon === 'email'" ibmIconEmail16 class="application-icon" [ngClass]="class"></svg>
<svg *ngIf="model.icon === 'data--base'" ibmIconDataBase16 class="application-icon" [ngClass]="class"></svg>
<svg *ngIf="model.icon === 'building'" ibmIconBuilding16 class="application-icon" [ngClass]="class"></svg>
<svg *ngIf="model.icon === 'user--profile'" ibmIconUserProfile16 class="application-icon" [ngClass]="class"></svg>
<svg *ngIf="model.icon === 'calendar'" ibmIconCalendar16 class="application-icon" [ngClass]="class"></svg>
<svg *ngIf="model.icon === 'upload'" ibmIconUpload16 class="application-icon" [ngClass]="class"></svg>
<svg *ngIf="model.icon === 'user'" ibmIconUser16 class="application-icon" [ngClass]="class"></svg>
