.hypervisor-list {
  margin: 2rem 2rem 1rem 2rem;
  max-height: calc(100% - 48px);
  display: flex;
  flex-direction: column;
}

.hypervisor-list-items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
  vmare-vcenter-card {
    margin-right: 20px;
    margin-bottom: 14px;

    &:last-child {
      margin: 0;
    }
  }
}

.hypervisor-list-search {
  display: flex;
  align-items: center;

  sdl-async-search-bar {
    width: 100%;
  }
}

.hypervisor-list-advanced-search-link {
  margin-left: 20px;
  white-space: nowrap;
}

.hypervisor-list-headline {
  margin: 22px 16px;
}
