@import "../../../theme/sass/conf/conf";


.search-bar {
  width: 15rem;
}

.view {
  float: right;
}

.inventory {
  float: right;
  margin-right: 16px;
  display: inline;
}

.space-right-10 {
  margin-right: 10px;
}

.space-top-10 {
   margin-top: 10px;
}

.space-left-10 {
  margin-left: 10px;
}

button.btn.btn-toggle {
  background-color: #5380A8;
}

.logbackup-align {
  margin-left: 30px;
  margin-top: 15px;
}

div.dropdown-menu {
  min-width: 100% !important;
}

.view a.dropdown-item {
  white-space: normal;
  width: 100%;
}

.slas-menu {
  overflow-y: auto;
}

.line-height-30 {
  line-height: 30px;
}

.side-by-side-left {
  flex: 3;
}

.side-by-side-right {
  flex: 1;
}

.log-type-filter {
  padding: 0 15px;
  & > label {
    margin: 0;
    padding-right: 10px;
    height: 35px;
    line-height: 35px;
  }
  & > .log-type-list {
    float: right;
    min-width: 108px;
  }
}

.float-left {
  float: left;
}

.toolbar {
  margin-top: -40px;
  height: 40px;
}
