@import "../../theme/sass/conf/conf";
.card {
  border: 0;
}

.margin-top-10 {
  margin-top: 10px;
}

.line-height-2 {
  line-height: 2em;
}

.align-title-bar {
  margin-top: -50px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.space-left-15 {
  margin-left: 15px;
}

.space-left-35 {
  margin-left: 35px;
}
