<div class="checkbox" [hidden]="restoreType==='test'">
  <label class="custom-checkbox" translate>
    <input type="checkbox" [(ngModel)]="model.overwriteExistingDb">
    <span>{{'application.textOverwriteDatabase' | translate }}</span>
  </label>
</div>
<br>
<div class="row" [hidden]="hideMaxParallelStreams">
  <label for="maxParallelStreams" class="col-sm-4 control-label wrap" translate>
    {{'application.textMaxParallelStreams'}}
  </label>
  <div class="col-sm-2">
    <input type="number" min="1" class="form-control" id="maxParallelStreams"
           [(ngModel)]="model.maxParallelStreams">
  </div>
</div>
<div *ngIf="restoreType==='test' && hideMaxParallelStreams" translate>{{'application.textNoApplicationOptions'}}</div>
