.countercard {
   width: 100%;
   min-height: 130px;
}

.protection-padding {
  padding-top: 1.5em;
  padding-bottom: 1em;
}

.inline-block {
  display: inline-block;
}

.space-top-10 {
  margin-top: 10px;
}
