@import "../../theme/sass/conf/conf";

@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}

.user-stats-card {
  .card-title {
    padding: 0 0 15px;
  }
}

.hidden {
  display: none !important;
}

.modal-buttons .btn {
  margin-right: 20px;
}

.restore-options {
  padding-top: 10px;
}
