<form #network="ngForm" style="height: 350px;" id="networkform">
  <div style="height: 300px; overflow: auto;" [ngClass]="{'mask': masked, 'masked': networkMask}">
    <table>
      <thead>
        <tr>
          <th width="33%" translate>{{ 'common.sourceText' }}</th>
          <th width="33%" translate>{{ 'hypervisor.textProduction' }}</th>
          <th width="33%" translate>{{ 'hypervisor.textTest' }}</th>
        </tr>
        <td colspan="3" *ngIf="sourceNetworks === undefined || sourceNetworks.length < 1">
          <i class="bidi-status-warning"></i>
          {{ sourceNetworks === undefined ? textSelectHost : sourceNetworks.length === 0 ? textNoNetworks : '' }}
        </td>
      </thead>
      <tbody>
        <tr class="no-top-border" [ngModelGroup]="item.getUrl('self')" *ngFor="let item of sourceNetworks; let i = index">
          <td class="wrap">{{ item.name }}</td>
          <td>
            <select class="form-control" name="recovery"
                    [(ngModel)]="networkSelections[i] && networkSelections[i]['recovery']" (change)="handleSelect($event, i, 'production')">
              <option
                [ngValue]="net.getUrl('self')" *ngFor="let net of networks">{{ net.name }}</option>
              <option [hidden]="true" value=""></option>
            </select>
          </td>
          <td>
            <select class="form-control" name="test"
                    [(ngModel)]="networkSelections[i] && networkSelections[i]['test']" (change)="handleSelect($event, i, 'test')">
              <option
                [ngValue]="net.getUrl('self')" *ngFor="let net of networks">{{ net.name }}</option>
              <option [hidden]="true" value=""></option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
<div *ngIf="!isHyperV()" [hidden]="enableEsxUser">
  <hr>
  <subnet-component
    [hypervisorType]="hypervisorType"
    [subnets]="subnets"></subnet-component>
</div>
