<div [ngClass]="{'masked': masked}">
  <div class="card">
    <div class="card-header" translate>{{'users.textAssignResourcesTitle'}}</div>
    <div class="card-block">
      <user-edit-resource (resourceChange)="onResourceChange()" [models]="models"></user-edit-resource>
      <hr>
      <button (click)="onCancelClick()" class="sdl inline" type="button" translate>
        {{'common.textCancel'}}
      </button>
      <div class="right">
        <button [disabled]="!isValid()" (click)="onSubmitClick()" class="sdl inline" [ngClass]="{'disabled': !isValid()}"
                type="button" translate>
          {{'users.textAssignResources'}}
        </button>
      </div>
    </div>
  </div>
</div>
