:host {
  color: inherit;
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: middle;
}

svg.carbon-icon {
  color: inherit;
  fill: currentColor;
  display: block;
  height: 100%;
  width: 100%;
}
