@import "../../../theme/sass/conf/conf";

$grey-ish-color-than-base-font-color-light: #cbcbcb;

:host {
  .dropdown-menu {
    margin-top: 0;
    width: 100%;
    box-sizing: content-box;
    left: -1px;
  }
}

.search-field-light {
  border: 1px solid $gray70;
  background: transparent;
  height: 2.5em;
  //width: 15em;
  input {
    color: $gray70;
    background: transparent;
    height: 100%;
    border: 0;
    outline: none;
    //padding: 0.75rem;

    #search-button {
      #search-icon {
        color: $gray70;
        background: transparent;
      }
    }
    &:focus {
      border-color: $cerulean50;
      color: $gray70;
    }
    &:active {
      border-color: $cerulean50;
      color: $gray70;
    }
    &:hover {
      border-color: $cerulean50;
    }
  }
  input::-webkit-input-placeholder {
    color: $nc3;
  }
  input::-moz-placeholder {
    color: $nc3;
  }
  &.cdk-keyboard-focused, &.cdk-program-focused {
    border-color: $cerulean50;
    #search-button, #clear-button {
      border-color: $cerulean50;
      #search-icon {
        color: $cerulean50;
      }
      @include branding-ibm-svg-icon-class('search_16', 'search-hover_16', 'action-based/', 16, 16);
      &.cdk-program-focused {
        outline: $keyboard-focused-outline-width $keyboard-focused-outline-style-dashed $keyboard-focused-outline-color;
        outline-offset: .15em;
      }
    }
  }
}

.search-field-light:hover, .search-field-light:focus {
  border-color: $cerulean50;
  #search-button {
    border-color: $cerulean50;
    #search-icon {
      color: $cerulean50;
    }
    @include branding-ibm-svg-icon-class('search_16', 'search-hover_16', 'action-based/', 16, 16);
  }
}

.search-field-light > input:disabled {
  border-color: $gray70;
  color: $gray70;
  background-color: #fcfcfc;
}

.input-group-btn {
  border: 0;
  width: 2.5rem;
  height: 100%;
  padding: 0;
}

#search-button {
  padding: 0;
  border-width: 0 0 0 1px;
  border-color: $gray70;
  width: 100%;
  height: 100%;
  @include branding-ibm-svg-icon-class('search_16', 'search_16', 'action-based/', 16, 16);
}

#search-button:active {
  background: transparent;
  color: $gray70;
}
#search-button:disabled {
  color: $gray70;
}

#clear-button {
  padding: 0;
  border-width: 0 0 0 0;
  border-color: $gray70;
  width: 100%;
  height: 100%;
}

#clear-icon {
  width: 16px !important;
  height: 16px !important;
  color: $gray50;
}

#search-icon {
  width: 16px !important;
  height: 16px !important;
  color: $gray70;
}

