@import "../../../theme/sass/conf/conf";

button.close {
  float: none;
}

.form-inline .form-group label {
  margin-right: 0px;
}

.email-space {
  margin-right: 10px;
}

.label-size {
  font-size: 1em;
}
