<div bsModal #lgModal="bs-modal" class="modal fade" (keydown.esc)="onPasswordChangeAbort()" [config]="{backdrop: 'static', keyboard : false}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div cdkTrapFocus class="modal-content">
      <div class="modal-header">
        <button cdkFocusRegionStart class="close" (click)="hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" translate>{{changeUsernameOnly ? 'common.textChangeUsername' :
          changeOsPassword ? 'common.textChangeOsPassword' : 'common.textChangePassword'}}</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" class="form-horizontal">
          <div class="form-group row" [ngClass]="{'has-error': (!username.valid && username.touched), 'has-success': (username.valid && username.touched)}">
            <label class="col-sm-5 control-label" translate>{{'common.textUsername'}}</label>
            <div class="col-sm-7">
              <input sdlTooltip
                  [readonly]="isUserNameReadonly"
                  [mode]="'critical'"
                  [isDisabled]="isUserNameReadonly || (!username.valid && username.untouched) || (username.valid && username.touched)"
                  [placement]="'top'"
                  [sdlTooltip]="'common.textEnterUsername' | translate"
                     [attr.aria-label]="'common.textUsername' | translate"
                 [formControl]="username" type="text" [(ngModel)]="model.username" class="form-control" placeholder="{{'common.textUsername' | translate}}">
            </div>
          </div>
          <div *ngIf="!hideNewUsername" class="form-group row" [ngClass]="{'has-error': (!newUsername.valid && newUsername.touched), 'has-success': (newUsername.valid && newUsername.touched)}">
            <label class="col-sm-5 control-label" translate>{{'common.textNewUsername'}}</label>
            <div class="col-sm-7">
              <input sdlTooltip
                  [mode]="'critical'"
                  [isDisabled]="(!newUsername.valid && newUsername.untouched) || (newUsername.valid && newUsername.touched)"
                  [placement]="'top'"
                  [sdlTooltip]="'common.textEnterNewUsername' | translate"
                     [attr.aria-label]="'common.textNewUsername' | translate"
                 [formControl]="newUsername" type="text" [(ngModel)]="model.newUsername" class="form-control" placeholder="{{'common.textNewUsername' | translate}}">
                 <p>
                  <label class="control-label paragraph-margin" translate>{{textCommonUsername}}</label>
                </p>
            </div>
          </div>
          <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
            <label class="col-sm-5 control-label" translate>{{'common.textOldPassword'}}</label>
            <div class="col-sm-7">
              <input sdlTooltip
                  [mode]="'critical'"
                  [isDisabled]="(!password.valid && password.untouched) || (password.valid && password.touched)"
                  [placement]="'top'"
                  [sdlTooltip]="'common.textEnterPassword' | translate"
                  [formControl]="password"
                  type="password"
                  [(ngModel)]="model.password"
                     [attr.aria-label]="'common.textOldPassword' | translate"
                  class="form-control" placeholder="{{'common.textOldPassword' | translate}}">
            </div>
          </div>
          <div *ngIf="!changeUsernameOnly" class="form-group row" [ngClass]="{'has-error': ((!newPassword.valid || (changeOsPassword && !validOsPassword())) && newPassword.touched), 'has-success': ((!changeOsPassword && newPassword.valid || changeOsPassword && validOsPassword()) && newPassword.touched)}">
            <label class="col-sm-5 control-label" translate>{{'common.textNewPassword'}}</label>
            <div class="col-sm-7">
              <input sdlTooltip
                  [mode]="'critical'"
                  [isDisabled]="(!changeOsPassword && newPassword.valid || changeOsPassword && validOsPassword()) && newPassword.touched"
                  [placement]="'top'"
                  [containerClass]="'container-class-top-icon'"
                  [sdlTooltip]="newPasswordTooltip"
                  [formControl]="newPassword"
                  type="password"
                  [(ngModel)]="model.newPassword"
                     [attr.aria-label]="'common.textNewPassword' | translate"
                  class="form-control"
                  placeholder="{{'common.textNewPassword' | translate}}">
            </div>
          </div>
          <div *ngIf="!changeUsernameOnly" class="form-group row" [ngClass]="{'has-error': ((!repeatNewPassword.valid || repeatNewPassword.value !== newPassword.value) && repeatNewPassword.touched), 'has-success': (repeatNewPassword.valid && repeatNewPassword.value === newPassword.value && repeatNewPassword.touched)}">
            <label class="col-sm-5 control-label" translate>{{'common.textRepeatNewPassword'}}</label>
            <div class="col-sm-7">
              <input sdlTooltip
                  [mode]="'critical'"
                  [isDisabled]="((!repeatNewPassword.valid || repeatNewPassword.value !== newPassword.value) && newPassword.untouched) || ((repeatNewPassword.valid && repeatNewPassword.value === newPassword.value) && newPassword.touched)"
                  [placement]="'top'"
                  [sdlTooltip]="'common.textRepeatNewPasswordErrorSuggestion' | translate"
                  [formControl]="repeatNewPassword"
                  type="password" [(ngModel)]="model.repeatNewPassword"
                     [attr.aria-label]="'common.textRepeatNewPassword' | translate"
                  class="form-control"
                  placeholder="{{'common.textRepeatNewPassword' | translate}}">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button [disabled]="!form.valid || !isValid()"
                [ngClass]="{'disabled': !form.valid || !isValid()}" class="sdl inline small" (click)="onPasswordChange()" translate>{{'common.textOK'}}</button>
        <button cdkFocusRegionEnd class="sdl inline small" (click)="onPasswordChangeAbort()" translate>{{'common.textCancel'}}</button>
      </div>
    </div>
  </div>
</div>
<ng-template #newPasswordTooltip>
  <div class="new-password-tooltip">
    <div *ngFor="let tip of getPasswordTips()">{{tip}}</div>
  </div>
</ng-template>
