@import "../../../theme/sass/conf/conf";

.modal {
  padding-top: 20px;
  .modal-content {
    color: $dropdown-text;

    label {
      white-space:nowrap;
    }

    .modal-header {
      border: none;
    }
    .control-label {
      color: $dropdown-text;
    }

    .form-control {
      background-color: #cccccc;
    }

    .modal-footer {
      border: none;
    }

    .close {
      outline: none;
    }
  }
}

.modal-buttons .btn {
  margin-right: 20px;
}

.paragraph-margin {
  margin-bottom: 0;
}

.new-password-tooltip {
  text-align: left;
  max-width: 500px;
  white-space: normal;
}
