$summary-text-color: #1C496D;

.wizard-summary-page {
  background-color: transparent;
  text-align: left;

  & > .title {
    font-size: 24px;
    line-height: 2.5rem;
  }

  & > .description {
    font-size: 14px;
    line-height: 1.25rem;
  }

  & > .content {
    & > .entry {
      & > .title {
        margin-top: 2rem;
        font-size: 16px;
        line-height: 2rem;
        font-weight: bold;
        color: $summary-text-color;
      }

      & > .details {
        width: 100%;
        margin: auto;
        padding: 10px;
      }
    }
  }
}
