<div bsModal #defineEditScheduleModal="bs-modal"
     class="modal fade centered-modal" [config]="{backdrop: 'static', keyboard : false}">
  <div cdkTrapFocus class="modal-content" [ngClass]="{'masked': mask}">
    <div class="modal-header">
      <div class="form-inline">
        <label  class="form-control-label script-label-size" translate>{{ 'schedule.textScheduleFor' }}</label>
        <label  class="form-control-label script-label-size" translate>{{ jobName}}</label>
        <button cdkFocusRegionStart type="button" class="close pull-right" (click)="hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="modal-body">
       <define-schedule>
        [hideStartTime]="false"
      </define-schedule>
     </div>
    <div class="modal-footer">
      <button cdkFocusRegionEnd type="button"
              (click)="save()"
              class="sdl inline small" translate>{{'common.textSave'}}</button>
    </div>
  </div>
</div>
