@import "../../../../theme/sass/conf/conf";

.modal {
  height: 50%;
  width: 40%;
  max-height: 600px;
  min-height: 400px;
  .modal-content {
    color: $gray70;
    height: 100%;
    .modal-body {
      overflow: scroll;
      height: 75%;
      width: 100%;
    }

    .modal-header {
      border: none;
      height: 14%;
      width: 100%;
    }

    .modal-footer {
      border: none;
      height: 11%;
      width: 100%;
      margin-top: 0px;
    }

    .close {
      outline: none;
    }
  }

  .spinning-wheel-wrapper {
    display: table;
    height: 100%;
    margin: 0 auto;

    .modal-dialog {
      display: table-cell;
      vertical-align: middle;

      .has-spinning-wheel {
        background: transparent !important;
        border: 0 !important;
        width: 100%;

        .spinning-wheel-container {
          height: 100%;
          background: transparent !important;
          border: 0 !important;
          display: table;
          .spinning-wheel {
            vertical-align: middle;
            display: table-cell;
          }
        }
      }
    }
  }
}

.modal-buttons .btn {
  margin-right: 20px;
}

.centered-modal {
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  padding-top: inherit !important;
  transform: translate(-50%, -50%);
  overflow-y: hidden;
}

.script-label-size {
  font-size: 20px;
}
