<div [hidden]="isCreatingRestoreJob">
  <div>
    <button type="button" class="sdl inline secondary with-icon" data-toggle="collapse"
            data-target="#collapsevmmanage" translate><i class="ion-android-settings"></i>
      {{getManageLabel()}}
    </button>
    <div class="align-right toolbar">
      <button *ngIf="showCreateRestoreJobButton" class="sdl inline" (click)="onCreateRestoreJobClick()" translate>{{'job.textCreateJob'}}</button>
    </div>
    <br>
    <div class="collapse" id="collapsevmmanage" role="form">
      <ba-card baCardClass="dark-card" title="{{getManageLabel()}}">
        <hypervisor-manage [hypervisorType]="hypervisorType"></hypervisor-manage>
      </ba-card>
    </div>
  </div>
  <ba-card baCardClass="dark-card" title="{{cardTitle | translate}}">
    <div class="side-by-side-wrapper">
      <div class="side-by-side-left">
        <div class="side-by-side-wrapper">
          <div class="search-bar">
            <sdl-search-bar (search)="startSearch(true, ($event === '') ? '*' : $event)"
                            [isSupportClear]="true"
                            (clear)="onClearSearch()"
                            [textPlaceholderLabel]="textSearchFor">
            </sdl-search-bar>
          </div>
          <div *ngIf="isTagView()" class="btn-group space-left-10">
            <label class="custom-checkbox search-category">
              <input type="checkbox" [(ngModel)]="searchCategory">
              <span>{{ 'hypervisor.textSearchCategory' | translate }}</span>
            </label>
          </div>
          <div class="btn-group space-left-10" role="group" aria-label="Filter">
            <div class="btn-group" role="group">
              <button id="btnGroupDrop2" type="button" class="btn btn-default dropdown-toggle  dropdown-toggle-sdl"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{sla && sla.name}}
              </button>
              <div class="dropdown-menu slas-menu scrollable-menu dropdown-menu-sdl" aria-labelledby="btnGroupDrop2">
                <a *ngFor="let item of slas" tabindex="0" class="dropdown-item dropdown-item-sdl" clickOnEnterKeydown (click)="onSlaClick(item)">{{item.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="side-by-side-right">
        <div class="btn-group view" role="group" [hidden]="isAwsec2()">
          <div class="nowrap">
            <label class="control-label" translate>{{'hypervisor.textView'}}</label>
            <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle dropdown-toggle-sdl"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{view && view.name}}
              </button>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-sdl" aria-labelledby="btnGroupDrop1">
                <a *ngFor="let item of views" tabindex="0" class="dropdown-item  dropdown-item-sdl"
                   clickOnEnterKeydown (click)="onViewClick(item)">{{item.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [ngClass]="{'masked': hypervisorType === 'vmware' ? (maskSlaPolicy || maskVADPs) : maskSlaPolicy}">
      <div class="row">
        <ul class="breadcrumb2">
          <li *ngFor="let breadcrumb of breadcrumbs">
            <span tabindex="0" (keydown.enter)="onBreadcrumbClick(breadcrumb,$event)" (click)="onBreadcrumbClick(breadcrumb,$event)" class='link'>{{breadcrumb.title}}</span>
          </li>
          <div *ngIf="!!inventoryJob" class="inventory">
            <label class="control-label space-right-10">{{textLastInventoryAt + ' ' + (inventoryJob.lastRunTime | amDateFormat: 'll LTS')}}</label>
            <button [disabled]="inventoryInProgress" (click)="onRunInventoryClick()" type="button" class="sdl inline small" [ngClass]="{'disabled' : inventoryInProgress}" translate>
              {{inventoryInProgress ? 'hypervisor.textInventoryInProgress' : 'hypervisor.textRunInventory'}}
            </button>
          </div>
        </ul>
      </div>
      <vmselectbackup-table
        [view]="view"
        (onSelectChangeEvent)="onSelectionChangeEvent()" [hypervisorType]="hypervisorType"></vmselectbackup-table>
    </div>
    <br>
    <div [ngClass]="{'masked': maskSlaPolicy}">
      <div class="text-right">
        <button [hidden]="!hasResourceSelection()" (click)="emptyResourceSelection()" type="button"
                class="sdl inline float-left">{{textClearSelections}}
        </button>
        <button [disabled]="!canRerun()" (click)="onRerunClick()" type="button"
                class="sdl inline" [ngClass]="{'disabled': !canRerun()}" translate>{{'common.textRerunSelection'}}
        </button>
        <button [disabled]="!hasResourceSelection()" (click)="onCardCollapse('policy')" type="button" data-toggle="collapse" data-target="#collapseapplypolicy"
                class="sdl inline" [ngClass]="{'disabled': !hasResourceSelection()}" translate>{{'hypervisor.textSelectPolicy'}}
        </button>
        <button [disabled]="!hasResourceSelection()" type="button" (click)="onCardCollapse('option')" data-toggle="collapse" data-target="#collapsevmoptions"
                [hidden]="isAwsec2()"
                class="sdl inline" [ngClass]="{'disabled': !hasResourceSelection()}" translate>{{'hypervisor.textSelectOptions'}}
        </button>
      </div>
      <div class="collapse" #collapseapplypolicy id="collapseapplypolicy" [ngClass]="{'masked': maskSlaPolicy}" role="form">
        <h6 class="sdl-header" translate>{{'slapolicy.textSLAPolicy'}}</h6>
        <br>
        <policyselect-table
          [selectedNames]="selectedPolicyNames" 
          (dataLoad)="onPoliciesLoad($event)"
          [subType]="subType"></policyselect-table>
        <button [ngClass]="{'disabled': isPoliciesLengthZero}" [disabled]="isPoliciesLengthZero" (click)="onApplyPolicyClick()" class="sdl inline" type="button"
                data-toggle="collapse" data-target="#collapseapplypolicy" aria-expanded="false"
                aria-controls="collapseapplypolicy" translate>
          {{'hypervisor.textSave'}}
        </button>
      </div>
      <div class="collapse" #collapsevmoptions id="collapsevmoptions" [ngClass]="{'masked': maskOptions}" role="form">
        <hypervisor-backup-options [hypervisorType]="hypervisorType" [hypervisorModel]="selectedSingleModel"
                                   (testClicked)="onTestClick($event)"
                                   (applyOptionsClicked)="onApplyOptionsClick()"
                                   (loadedVADPsEvent)="onLoadVADPs($event)"
                                   (loadedUserEvent)="onLoadUsers($event)"></hypervisor-backup-options>
      </div>
    </div>
  </ba-card>
  <ba-card baCardClass="dark-card" title="{{'hypervisor.textPolicyStatus' | translate}}">
    <div class="log-type-filter align-right row margin-bottom-10">
      <label translate>{{'job.textFilterJobLogLabel'}}</label>
      <div class="log-type-list" keyboardMultiselect [multiselect]="multiselect">
        <angular2-multiselect [settings]="dropdownSettings" #multiselect
                              [data]="selectableLogTypes"
                              [(ngModel)]="selectedLogTypes"
                              (onSelect)="onLogTypeSelect($event)"
                              (onDeSelect)="onLogTypeDeselect($event)"
        ></angular2-multiselect>
      </div>
    </div>
    <policy-status-table [subtype]="hypervisorType"
                         [isScriptServerOnly]="isScriptServerOnly"
                         [showOptions]="true"
                         [showInventoryTimeoutOption]="false"
                         [jobTypeFilters]="logFilters"
                         [objType]="'vm'"></policy-status-table>
  </ba-card>
  <div class="hidden">
    <refresh-button-basic [defaultState]="true" [rate]="30000" [tickEnabled]="true" (onTick)="refreshInventory()"></refresh-button-basic>
  </div>
  <config-groups [model]="testResult" (abortClick)="onAbortTestClick()"></config-groups>
  <base-modal-component #rerun [title]="textRerun"
                        [disableConfirmButton]="selectedRerunSla === undefined"
                        [confirmBtnText]="textRerun" (onSave)="rerunJob(selectedRerunVm, selectedRerunSla)">
    <div class="row">
      <div class="col-sm-5">
        <label class="form-control-label"
               style="padding-top: .5rem;" translate>{{'slapolicy.textSelectASLAPolicy'}}</label>
      </div>
      <div class="col-sm-7">
        <select class="form-control" [(ngModel)]="selectedRerunSla">
          <option *ngFor="let sla of (selectedRerunVm && selectedRerunVm.storageProfiles)" [value]="sla">{{sla}}</option>
        </select>
      </div>
    </div>
  </base-modal-component>
</div>
<div [hidden]="!isCreatingRestoreJob">
  <job-wizard [autoShow]="false"
              [textBackToTarget]="textBackToTarget"
              [allowedCategories]="allowedCategories"
              (cancelEvent)="onWizardCancel()"
              (submitEvent)="onWizardSubmit()">
  </job-wizard>
</div>
